<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-md">
    <h2 class="text-2xl font-semibold text-center mb-6">Register</h2>
    <form
      #registerForm="ngForm"
      (ngSubmit)="onSubmit(registerForm)"
      class="space-y-4"
    >
      <!-- not sure about diff text for empty and valide -->
      @if(userName.touched ) { @if(userName.pristine){
      <p class="italic px-3">Name cannot be empty</p>
      } @else if (!validateForm("name")) {
      <p class="italic px-3">Name must only contain letters and spaces!</p>
      } }
      <input
        type="text"
        [(ngModel)]="name"
        name="name"
        #userName="ngModel"
        placeholder="Full Name"
        class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 {{
          userName.touched && !validateForm('name')
            ? 'focus:ring-red-400'
            : 'focus:ring-blue-400'
        }}"
        required
      />

      @if(userEmail.touched && (userEmail.pristine || !validateForm("email"))){
      <p class="italic px-3">Email must be valid</p>
      }
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        #userEmail="ngModel"
        class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 {{
          userEmail.touched && !validateForm('email')
            ? 'focus:ring-red-400'
            : 'focus:ring-blue-400'
        }}"
        (click)="setPrevElAsTouched('email')"
        required
      />

      @if(userRole.touched && !validateForm('role')){
      <p class="italic px-3">Please select a role!</p>
      }
      <select
        name="userRole"
        [(ngModel)]="role"
        #userRole="ngModel"
        class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 {{
          userRole.touched && !validateForm('role')
            ? 'focus:ring-red-400'
            : 'focus:ring-blue-400'
        }}"
        (click)="setPrevElAsTouched('role')"
        required
      >
        <option value="" disabled selected>Select Role</option>
        <option value="Teacher">Teacher</option>
        <option value="Student">Student</option>
      </select>

      @if(userPassword.touched && (userPassword.pristine ||
      !validateForm("password"))){
      <p class="italic px-3">Password must be at least 6 characters</p>
      }
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        #userPassword="ngModel"
        placeholder="Password"
        class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 {{
          userPassword.touched && !validateForm('password')
            ? 'focus:ring-red-400'
            : 'focus:ring-blue-400'
        }}"
        (click)="setPrevElAsTouched('password')"
        required
      />

      @if(userConfirmPassword.touched && (userConfirmPassword.pristine
      ||!validateForm("confirmPassword"))){
      <p class="italic px-3">Passwords must match!</p>
      }
      <input
        type="password"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        #userConfirmPassword="ngModel"
        placeholder="Confirm Password"
        class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 {{
          userConfirmPassword.touched && !validateForm('confirmPassword')
            ? 'focus:ring-red-400'
            : 'focus:ring-blue-400'
        }}"
        (click)="setPrevElAsTouched('confirmPassword')"
        required
      />
      <button
        type="submit"
        class="w-full bg-blue-500 text-white p-3 rounded-lg hover:bg-blue-600 transition"
      >
        Register
      </button>
    </form>
    <p class="mt-4 text-center">
      Already have an account?
      <button
        (click)="navigateTo('/login')"
        class="text-blue-500 hover:underline"
      >
        Sign In
      </button>
    </p>
  </div>
</div>
