<div class="bg-white rounded-xl shadow-md p-6 max-w-3xl mx-auto">
  <app-spinner />
  @if(category === 'course' ){ @if(AdminDashService.inputFieldsEmpty){
  <p class="text-lg font-medium sm:col-span-4 ml-2 mb-4 text-red-400 italic">
    For adding a course the: name, teacher and schedule are mandatory
  </p>
  }
  <form (ngSubmit)="addCourse()" class="grid gap-4 sm:grid-cols-6 mb-4">
    <!-- ------------------FORM ELEMENTS --------------------------  -->
    <input
      [(ngModel)]="AdminDashService.newCourse().name"
      name="courseName"
      placeholder="Course Name"
      class="p-3 border rounded-lg focus:ring-2 focus:ring-blue-400 outline-none sm:col-span-2"
      required
    />
    <select
      [(ngModel)]="AdminDashService.newCourse().teacherId"
      name="courseTeacherId"
      class="p-3 border rounded-lg focus:ring-2 focus:ring-blue-400 outline-none sm:col-span-2"
      required
    >
      <option value="" disabled selected>Select Teacher</option>
      @for (teacher of teachers; track teacher.id) {
      <option [value]="teacher.id">{{ teacher.fullName }}</option>
      }
    </select>
    <input
      [(ngModel)]="AdminDashService.newCourse().schedule"
      name="courseSchedule"
      placeholder="Day & Time (e.g. Mon & Wed 10:00)"
      class="p-3 border rounded-lg focus:ring-2 focus:ring-blue-400 outline-none sm:col-span-2"
      required
    />

    <!-- EDITING COURSE  -->

    <!-- ------------------SESSIONS COMPONENT--------------------------  -->
    <div class="sm:col-span-6 border rounded-lg p-3">
      <app-session-actions
        [editingCourseId]="editingCourseId"
        [courseAction]="action"
      />
    </div>

    <!-- ------------------ADD/UPDATE & CANCEL FORM BUTTONS--------------------------  -->
    @if(!AdminDashService.cancelUpdateCourseModel){
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-600 text-white py-2 rounded-lg font-medium transition sm:col-span-4"
    >
      {{ action === "update" ? "Update Course" : "Add Course" }}
    </button>

    <!-- the Cancel Updating Course button -->

    <button
      type="button"
      class="sm:col-span-2 bg-red-500 hover:bg-red-600 text-white py-2 rounded-lg font-medium transition"
      (click)="onCancelUpdateCourseModel()"
    >
      {{
        this.action === "update"
          ? "Cancel Updating Course"
          : "Cancel Adding Course"
      }}
    </button>

    <!-- CONFIRMATION MESSAGE -->
    } @else {

    <p class="text-lg font-medium sm:col-span-4 mt-2 text-red-400">
      {{
        this.action === "update"
          ? "Do you really want to cancel updating this course?"
          : "Do you really want to cancel adding this course?"
      }}
    </p>
    <button
      type="button"
      class="block bg-blue-500 hover:bg-blue-600 text-white py-2 rounded-lg font-medium transition sm:col-span-1"
      (click)="onCancelClick()"
    >
      Yes
    </button>
    <button
      type="button"
      class="block bg-red-500 hover:bg-red-600 text-white py-2 rounded-lg font-medium transition sm:col-span-1"
      (click)="onCancelUpdateCourseModel()"
    >
      No
    </button>

    }
  </form>
  <!-- ------------------------USER FORM------------------------------- -->
  } @else if ( category === 'user') {
  <form (ngSubmit)="updateUser()" class="grid gap-4 sm:grid-cols-6 mb-4">
    <input
      [(ngModel)]="newUser!.fullName"
      name="userName"
      placeholder="Full Name"
      class="p-3 sm:col-span-3 border rounded-lg focus:ring-2 focus:ring-blue-400 outline-none"
      required
    />
    <select
      [(ngModel)]="newUser!.role"
      name="userRole"
      class="p-3 sm:col-span-3 border rounded-lg focus:ring-2 focus:ring-blue-400 outline-none"
      required
    >
      <option value="" disabled selected>Select Role</option>
      <option value="Teacher">Teacher</option>
      <option value="Student">Student</option>
      <option value="Admin">Admin</option>
    </select>
    @if(!AdminDashService.cancelUpdateUserModel){

    <button
      type="submit"
      class="sm:col-span-4 bg-blue-500 hover:bg-blue-600 text-white py-2 rounded-lg font-medium transition"
    >
      Update User
    </button>

    <!-- the Cancel Updating Course button -->

    <button
      type="button"
      class="sm:col-span-2 bg-red-500 hover:bg-red-600 text-white py-2 rounded-lg font-medium transition"
      (click)="onCancelUpdateUserModel()"
    >
      Cancel Updating User
    </button>
    }
    <!-- CONFIRMATION MESSAGE -->
    @else {

    <p class="text-lg font-medium sm:col-span-4 mt-2 text-red-400">
      Do you really want to cancel updating this user?
    </p>
    <button
      type="button"
      class="block bg-blue-500 hover:bg-blue-600 text-white py-2 rounded-lg font-medium transition sm:col-span-1"
      (click)="onCancelClick()"
    >
      Yes
    </button>
    <button
      type="button"
      class="block bg-red-500 hover:bg-red-600 text-white py-2 rounded-lg font-medium transition sm:col-span-1"
      (click)="onCancelUpdateUserModel()"
    >
      No
    </button>

    }
  </form>
  }
</div>
