<app-spinner />
<app-confirmation-dialog #dialog />

@if(showUserDialog){
<app-admin-dialog
  title="Edit User"
  (closingClickFunction)="closeUserDialog()"
  category="user"
>
  <app-user-actions
    [newUser]="newUser"
    [editingUserId]="editingUserId"
    (cancelingClickFunction)="closeUserDialog()"
  />
</app-admin-dialog>
}

<div class="p-4 space-y-4">
  <div class="bg-white rounded-2xl shadow p-6">
    <h2 class="text-xl font-semibold mb-4 text-blue-600">User Management</h2>

    <!-- --------------------USER LIST + BUTTONS------------------------------ -->

    <ul class="space-y-2">
      @for (user of users$ | async; track user.id) {
      <li
        class="bg-gray-50 rounded-lg p-3 flex justify-between items-center shadow"
      >
        <span>
          <strong>{{ user.fullName }}</strong>
          <span class="text-sm text-gray-500"> — {{ user.role }}</span>
        </span>
        <div class="flex gap-2 items-center">
          <button
            (click)="viewUserDialog(user)"
            class="text-white bg-blue-600 hover:bg-blue-700 focus:outline-none font-medium rounded-lg text-xs px-5 py-2.5 me-2 mb-2 text-center"
            title="Update course"
          >
            Edit
          </button>
          <button
            (click)="deleteUser(user.id!)"
            class="text-white bg-red-600 hover:bg-red-700 focus:outline-none font-medium rounded-lg text-xs px-5 py-2.5 text-center me-2 mb-2"
            title="Delete user"
          >
            Delete
          </button>
        </div>
      </li>
      }
    </ul>

    <!-- BUTTTONS -->
    <div class="flex justify-between mt-4">
      <button
        (click)="prevPage()"
        class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400"
      >
        Previous
      </button>

      <button
        (click)="nextPage()"
        class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
      >
        Next
      </button>
    </div>
    <!-- BUTTONS -->
  </div>
</div>
