<app-spinner />
<app-confirmation-dialog #dialog />

<!-- -----------------------DIALOGS------------------------------ -->

<!-- --------------------STUDENT DIALOG------------------------------ -->

@if (showStudentData && selectedCourseId) {
<app-admin-dialog
  title="Student Data"
  (closingClickFunction)="closeStudentData()"
>
  <app-student-data [courseId]="selectedCourseId"></app-student-data>
</app-admin-dialog>

}

<!-- --------------------SESSION DIALOG------------------------------ -->

@if (showSessionData && selectedCourseId) {

<app-admin-dialog
  title="Student Data"
  (closingClickFunction)="closeSessionData()"
>
  <div class="h-full flex flex-col">
    <app-session-data [courseId]="selectedCourseId"></app-session-data>
  </div>
</app-admin-dialog>

} @if (showCourseData.show) {

<app-admin-dialog
  [title]="`${showCourseData.action.charAt(0).toUpperCase()}${showCourseData.action.slice(1)} Course`"
  (closingClickFunction)="closeCourseAddUpdateDialog()"
  category="course"
  [action]="showCourseData.action"
>
  <app-course-actions
    [action]="showCourseData.action"
    [teachers]="teachers"
    [editingCourseId]="editingCourseId"
    (cancelingClickFunction)="closeCourseAddUpdateDialog()"
  />
</app-admin-dialog>
}

<div class="p-4 space-y-4">
  <div class="bg-white rounded-2xl shadow p-6">
    <div class="flex justify-between items-center w-full px-4 py-3">
      <h2 class="text-xl font-semibold mb-4 text-blue-600">
        Course Management
      </h2>

      <!-- ------------------COURSE MANAGEMET FORM-------------------------- -->
      <button
        (click)="viewCourseAddUpdateDialog('add')"
        class="text-white bg-green-600 hover:bg-green-700 focus:outline-none font-medium rounded-lg text-base px-5 py-2.5 text-center me-1 mb-2 mr-5"
        title="View Sessions"
      >
        Add Course
      </button>
    </div>

    <!-- BUTTON FOR SHOWING FILTERS -->
    <div class="border-t border-b border-gray-300 flex items-center mb-4">
      <button
        (click)="showFilters()"
        class="px-4 m-2 border-r border-gray-300 flex items-center"
      >
        <div class="mr-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="gray"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6 hover:fill-gray-600 hover:stroke-gray-600 stroke-gray-400 fill-gray-400"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z"
            />
          </svg>
        </div>
        <div class="text-gray-800 font-semibold">
          {{
            CourseService.appliedFilterCount() +
              CourseService.appliedSearchCount()
          }}
          Filters
        </div>
      </button>

      <button
        class="px-4 py-2 text-gray-400 hover:text-gray-600 m-2"
        (click)="clearAllFilters()"
      >
        Clear all
      </button>
    </div>
    <!-- / BUTTON FOR SHOWING FILTERS -->

    <!-- FILTERS -->

    <div class="relative grid grid-cols-5">
      <!-- FILTERS -->
      @if(isShowFilter){
      <div class="col-span-1 mr-4">
        <app-filters filterFor="course" />
      </div>
      }

      <!-- ------------------COURSES LIST + BUTTONS--------------------------  -->
      <div class="{{ isShowFilter ? 'col-span-4' : 'col-span-5' }}">
        <ul class="space-y-2">
          @for (course of courses$ | async; track course.id) {
          <li
            class="bg-gray-50 rounded-lg px-4 py-3 flex items-center justify-between shadow-sm hover:shadow-md transition-shadow"
          >
            <div class="flex items-center justify-between w-full">
              <div class="flex flex-col text-left">
                <span class="font-semibold text-gray-800">{{
                  course.name
                }}</span>
                <span class="text-sm text-gray-500">{{ course.teacher }}</span>
                <span class="text-sm text-gray-500">{{ course.schedule }}</span>
                <span class="text-xs text-gray-500 mt-1">
                  {{ course.sessions?.length || 0 }} sessions |
                  {{ course.enrolledStudents?.length || 0 }} students enrolled
                </span>
              </div>
              <div class="flex gap-2 items-center ml-auto">
                <!-- DON'T DELETE, FOR LATER USE -->
                <!-- @if (isCourseSchedulePending(course)) {
              <span
                class="px-2 py-1 text-xs bg-yellow-100 text-yellow-800 rounded-full"
                >Pending Schedule</span
              >
              } -->
                <!-- -------------------BUTTONS----------------------- -->
                <button
                  (click)="viewStudentData(course)"
                  class="text-white bg-blue-600 hover:bg-blue-700 focus:outline-none font-medium rounded-lg text-xs px-5 py-2.5 text-center me-1 mb-2"
                  title="View Student Data"
                >
                  Student Data
                </button>

                <!-- DON'T DELETE, FOR LATER USE -->

                <!-- <button
                (click)="scheduleCourse(course.id!)"
                class="text-white bg-yellow-600 hover:bg-yellow-700 focus:outline-none font-medium rounded-lg text-xs px-5 py-2.5 text-center me-1 mb-2"
                title="Schedule course sessions"
              >
                Schedule Course Session
              </button> -->
                <!-- bsic variant, the way it was on the site -->
                <button
                  (click)="viewSessionData(course)"
                  title="View Sessions"
                  class="text-white bg-gray-600 hover:bg-gray-700 focus:outline-none font-medium rounded-lg text-xs px-5 py-2.5 text-center me-1 mb-2"
                >
                  View Sessions
                </button>

                <button
                  (click)="viewCourseAddUpdateDialog('update', course)"
                  class="text-white bg-green-600 hover:bg-green-700 focus:outline-none font-medium rounded-lg text-xs px-5 py-2.5 text-center me-1 mb-2"
                  title="Update course"
                >
                  Edit
                </button>
                <button
                  (click)="deleteCourse(course.id!)"
                  class="text-white bg-red-600 hover:bg-red-700 focus:outline-none font-medium rounded-lg text-xs px-4 py-2.5 text-center me-1 mb-2"
                  title="Delete course"
                >
                  Delete
                </button>
              </div>
            </div>
          </li>
          }
        </ul>
      </div>
      <!-- PREV NEXT PAGE BUTTTONS -->
      <div
        class="flex justify-center gap-2 mt-4 mb-4 justify-items-end items-center col-start-3 col-span-1"
      >
        <button
          (click)="prevPage()"
          class="px-4 py-2 border-gray-400 {{
            CourseService.disablePrevBtn() ? 'hover:text-gray-600' : ''
          }} border rounded-lg hover:bg-gray-200"
          [disabled]="CourseService.disablePrevBtn()"
        >
          &larr; Previous
        </button>
        <p class="">
          {{ CourseService.currentPageIndex() }} of
          {{ CourseService.maxPageIndex() }}
        </p>

        <button
          (click)="nextPage()"
          class="px-4 py-2 border-gray-400 border {{
            CourseService.disableNextBtn()
              ? 'hover:text-gray-600'
              : 'hover:text-white'
          }}  rounded-lg
          {{
            CourseService.disableNextBtn()
              ? 'hover:bg-gray-400'
              : 'hover:bg-gray-200'
          }}
          "
          [disabled]="CourseService.disableNextBtn()"
        >
          Next &rarr;
        </button>
      </div>
      <!-- PREV NEXT PAGE BUTTONS -->
    </div>
  </div>
</div>
